CarsAMSClient/src/META-INF/wsdl/localhost_8080/AMSClientWebService/AMSClientWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AMSClientWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AMSClientWebService/AMSClientWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="after">
<part name="parameters" element="tns:after"/>
</message>
<message name="afterResponse">
<part name="parameters" element="tns:afterResponse"/>
</message>
<message name="createPatientEntity">
<part name="parameters" element="tns:createPatientEntity"/>
</message>
<message name="createPatientEntityResponse">
<part name="parameters" element="tns:createPatientEntityResponse"/>
</message>
<message name="InvalidInputException">
<part name="fault" element="tns:InvalidInputException"/>
</message>
<message name="patientLoginWebService">
<part name="parameters" element="tns:patientLoginWebService"/>
</message>
<message name="patientLoginWebServiceResponse">
<part name="parameters" element="tns:patientLoginWebServiceResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="deleteAppointmentEntity">
<part name="parameters" element="tns:deleteAppointmentEntity"/>
</message>
<message name="deleteAppointmentEntityResponse">
<part name="parameters" element="tns:deleteAppointmentEntityResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="SQLIntegrityConstraintViolationException">
<part name="fault" element="tns:SQLIntegrityConstraintViolationException"/>
</message>
<message name="createAppointmentEntity">
<part name="parameters" element="tns:createAppointmentEntity"/>
</message>
<message name="createAppointmentEntityResponse">
<part name="parameters" element="tns:createAppointmentEntityResponse"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="DoctorNotFoundException">
<part name="fault" element="tns:DoctorNotFoundException"/>
</message>
<message name="retrievePatientEntityByIdentityNumWebService">
<part name="parameters" element="tns:retrievePatientEntityByIdentityNumWebService"/>
</message>
<message name="retrievePatientEntityByIdentityNumWebServiceResponse">
<part name="parameters" element="tns:retrievePatientEntityByIdentityNumWebServiceResponse"/>
</message>
<message name="retrieveAppointmentEntityByIdWebService">
<part name="parameters" element="tns:retrieveAppointmentEntityByIdWebService"/>
</message>
<message name="retrieveAppointmentEntityByIdWebServiceResponse">
<part name="parameters" element="tns:retrieveAppointmentEntityByIdWebServiceResponse"/>
</message>
<message name="retrieveAllDoctorEntitiesWebService">
<part name="parameters" element="tns:retrieveAllDoctorEntitiesWebService"/>
</message>
<message name="retrieveAllDoctorEntitiesWebServiceResponse">
<part name="parameters" element="tns:retrieveAllDoctorEntitiesWebServiceResponse"/>
</message>
<message name="retrieveDoctorEntityByIdWebService">
<part name="parameters" element="tns:retrieveDoctorEntityByIdWebService"/>
</message>
<message name="retrieveDoctorEntityByIdWebServiceResponse">
<part name="parameters" element="tns:retrieveDoctorEntityByIdWebServiceResponse"/>
</message>
<portType name="AMSClientWebService">
<operation name="after">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/afterRequest" message="tns:after"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/afterResponse" message="tns:afterResponse"/>
</operation>
<operation name="createPatientEntity">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/createPatientEntityRequest" message="tns:createPatientEntity"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/createPatientEntityResponse" message="tns:createPatientEntityResponse"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://ws.session.ejb/AMSClientWebService/createPatientEntity/Fault/InvalidInputException"/>
</operation>
<operation name="patientLoginWebService">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/patientLoginWebServiceRequest" message="tns:patientLoginWebService"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/patientLoginWebServiceResponse" message="tns:patientLoginWebServiceResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSClientWebService/patientLoginWebService/Fault/InvalidLoginException"/>
</operation>
<operation name="deleteAppointmentEntity">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/deleteAppointmentEntityRequest" message="tns:deleteAppointmentEntity"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/deleteAppointmentEntityResponse" message="tns:deleteAppointmentEntityResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/deleteAppointmentEntity/Fault/AppointmentNotFoundException"/>
<fault message="tns:SQLIntegrityConstraintViolationException" name="SQLIntegrityConstraintViolationException" wsam:Action="http://ws.session.ejb/AMSClientWebService/deleteAppointmentEntity/Fault/SQLIntegrityConstraintViolationException"/>
</operation>
<operation name="createAppointmentEntity">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/createAppointmentEntityRequest" message="tns:createAppointmentEntity"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/createAppointmentEntityResponse" message="tns:createAppointmentEntityResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/createAppointmentEntity/Fault/PatientNotFoundException"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/createAppointmentEntity/Fault/DoctorNotFoundException"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://ws.session.ejb/AMSClientWebService/createAppointmentEntity/Fault/InvalidInputException"/>
</operation>
<operation name="retrievePatientEntityByIdentityNumWebService">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/retrievePatientEntityByIdentityNumWebServiceRequest" message="tns:retrievePatientEntityByIdentityNumWebService"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/retrievePatientEntityByIdentityNumWebServiceResponse" message="tns:retrievePatientEntityByIdentityNumWebServiceResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/retrievePatientEntityByIdentityNumWebService/Fault/PatientNotFoundException"/>
</operation>
<operation name="retrieveAppointmentEntityByIdWebService">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveAppointmentEntityByIdWebServiceRequest" message="tns:retrieveAppointmentEntityByIdWebService"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveAppointmentEntityByIdWebServiceResponse" message="tns:retrieveAppointmentEntityByIdWebServiceResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveAppointmentEntityByIdWebService/Fault/AppointmentNotFoundException"/>
</operation>
<operation name="retrieveAllDoctorEntitiesWebService">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveAllDoctorEntitiesWebServiceRequest" message="tns:retrieveAllDoctorEntitiesWebService"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveAllDoctorEntitiesWebServiceResponse" message="tns:retrieveAllDoctorEntitiesWebServiceResponse"/>
</operation>
<operation name="retrieveDoctorEntityByIdWebService">
<input wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveDoctorEntityByIdWebServiceRequest" message="tns:retrieveDoctorEntityByIdWebService"/>
<output wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveDoctorEntityByIdWebServiceResponse" message="tns:retrieveDoctorEntityByIdWebServiceResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AMSClientWebService/retrieveDoctorEntityByIdWebService/Fault/DoctorNotFoundException"/>
</operation>
</portType>
<binding name="AMSClientWebServicePortBinding" type="tns:AMSClientWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="after">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPatientEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="patientLoginWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="deleteAppointmentEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
<fault name="SQLIntegrityConstraintViolationException">
<soap:fault name="SQLIntegrityConstraintViolationException" use="literal"/>
</fault>
</operation>
<operation name="createAppointmentEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="retrievePatientEntityByIdentityNumWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentEntityByIdWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllDoctorEntitiesWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDoctorEntityByIdWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AMSClientWebService">
<port name="AMSClientWebServicePort" binding="tns:AMSClientWebServicePortBinding">
<soap:address location="http://localhost:8080/AMSClientWebService/AMSClientWebService"/>
</port>
</service>
</definitions>